services:
  postgres:
    image: postgres:14
    container_name: casino-mis-postgres
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - "5452:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  minio:
    image: quay.io/minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9000:9000"
      - "9001:9001"

  incident-service:
    build:
      context: ./incident-service
    container_name: incident-service
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      SPRING_PROFILES_ACTIVE: default

  finance-service:
    build:
      context: ./finance-service
    container_name: finance-service
    ports:
      - "8081:8080"
    depends_on:
      - postgres
    environment:
      SPRING_PROFILES_ACTIVE: default
