spring:
  security:
    user:
      name: incident
      password: incident
  datasource:
    url: jdbc:postgresql://casino-mis-postgres:5432/incident
    username: incident
    password: incident
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml

logging:
  level:
    org.springframework: INFO
