.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  &__content {
    padding: 24px clamp(16px, 4vw, 48px) 48px;
    flex: 1;
    display: flex;
    justify-content: center;
  }
}
